<div class="p-2" style="width: 100%;">
    <div class="card mx-auto">
      <div class="card-header">
        <h1>
          Login war erfolgreich
        </h1>
      </div>
  
      <div class="card-body mx-center">
        <p>Du wurdest erfolgreich eingeloggt - jetzt kannst du den den vollen Umfang des Virtuellen Jugendtreff nutzen.</p>
        
     
        <p><button class="btn btn-primary"  [routerLink]="['/room/start']">Hier geht’s zu den Räumen</button></p>
      </div>
    </div>
  </div>