<div class="card fixed-bottom" style="padding: 10px; background-color: blue;" *ngIf="cookieShow">
    <div style="width: 100%;">
      <a (click)="closeCookie()"><fa-icon style="float: right;" [icon]="faWindowClose"></fa-icon></a>
    </div>
    <div>
      Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch
      die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu.
      Weitere Informationen zu Cookies erhalten Sie in unserer <a href="datenschutz#m134">Datenschutzerklärung</a>
    </div>
  </div>