<div class="context p-2" style="width: 100%;">
    <div class="card-header ">
        <h1>
            Nutzungsbedinungen
        </h1>
    </div>
    <div class="card mx-auto">
        <div class="card-body">
            <ul>
                <li>Ich bin zwischen 12-18 Jahren</li>
                <li>Ich habe die folgenden Verhaltensregeln gelesen und werde mich daran halten</li>
            </ul>
            <div class="card mx-auto">
                <div class="card-header ">
                    Unser Netz-Knigge
                </div>
            <div class="card-body">
            <app-knigge-text></app-knigge-text>
            </div>
            </div>
            <br/>        <br/>
            <div class="form-check">
                <input [(ngModel)]="agreementcb" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Ich bestätige hiermit, das ich die Nutzungsbedinungen akzeptieren</label>
            </div>
            <br/>
            <button [disabled]="!agreementcb" class="btn btn-primary" (click)="agreement()">Weiter</button>

        </div>
    </div>
</div>