<div class="context p-2" style="width: 100%;">
    <div class="card mx-auto">
      <div class="card-header">
        <h1>
          Virtuelle Jugentreff geschlossen
        </h1>
      </div>
  
      <div class="card-body">
        <p>Servus und Willkommen,</p>
        <p>
        Du besuchst gerade die Seite des VIRTUELLEN JUGENDTREFFS des Jugendtreff BASEMENT (Pyrbaum)<br>
        Zurzeit sind leider alle Chaträume geschlossen.<br>
        Wir würden uns freuen, wenn du zu unseren Öffnungszeiten wieder vorbeischauen würdest!</p>

        <p>Dein BASEMENT-TEAM</p>
        
      </div>
    </div>
  </div>-