<p>Ein paar wichtige Infos, die für die Nutzung des Virtuellen Jugendtreffs wichtig sind:</p>
<h3>Do‘s</h3>
<ul>
<li>Gehe fair und respektvoll mit den Chatteilnehmerinnen und Chatteilnehmern um.</li>
<li>Sei sparsam mit persönlichen und privaten Informationen.</li>
<li>Überlegenswert für den Chat: Erst denken, dann reden oder posten.</li>
<li>Bedenke : Es gibt keine sichere Kontrolle darüber, wie andere auf deinen Beitrag / deinen Post
reagieren.</li>
<li>Im Jugendtreff ist kein Ort, um Streit online auszutragen.</li>
<li>Private Daten wie Telefonnummer oder Hausadresse solltest du hier nicht austauschen.</li>
</ul>

<h3>Dont‘s</h3>
<b>Was wir hier nicht tolerieren:</b>
<ul>
    <li>Kaftausdrücke</li>
    <li>Mobbing und Dissen (auch nicht „nur zum Spaß“)</li>
    <li>Rassismus und Fremdenfeindlichkeit</li>
    <li>Aktionen, die gegen gesetzliche Vorgaben verstoßen</li>

</ul>
<p>
Das BASEMENT-TEAM behält sich vor, Teilnehmer*innen die gegen unsere Vorgaben
verstoßen, die Teilnahme am Virtuellen Jugendtreff zu verweigern ( = Ausschluss)
</p>
