<!--The content below is only a placeholder and can be replaced.-->
<div class="context">
  <app-menu></app-menu>
  <div class="container-fluid p-0" *ngIf="login">
    <div class="row no-gutters p-0 d-md-none ">
      <div class="mainsite box col p-0">
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" style="width: 100%;">
          <span *ngIf="isCollapsed">Raumauswahl öfnnen</span>
          <span *ngIf="!isCollapsed">Raumauswahl schließen</span>
        </button>
      </div>
    </div>
    <div class="row no-gutters p-0 d-md-none ">
      <div class="mainsite box col p-0" [ngbCollapse]="isCollapsed">
        <app-sitenav id=search></app-sitenav>
      </div>
    </div>
    <div class="row no-gutters p-0" [ngbCollapse]="!isCollapsed">
      <div class="sitenav box d-none d-md-block col-md-4 col-l-3 col-xl-2" *ngIf="open">
        <app-sitenav id=search></app-sitenav>
      </div>
      <div class="mainsite box col col-md-8 col-l-9 col-xl-10 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<app-cookiebanner></app-cookiebanner>

</div>