<div class="p-2" style="width: 100%;">
  <div class="card mx-auto">
    <div class="card-header">
      <h1>
        Anleitung –So geht’s!
      </h1>
    </div>

    <div class="card-body mx-center">
      <p>Damit du unseren virtuellen Jugendtreff besuchen bzw. nutzen kannst …</p>
      <ul>
        <li>benötigst du einen PC oder ein Smartphone mit funktionierender Kamera und
          funktionierendem Mikrofon</li>
        <li> benötigst du einen W-LAN-Zugang (damit auch das Datenvolumen deines Handyvertrages
          nicht „aufgefressen“ wird)</li>
        <li>musst du dich einmalig registrieren und die Nutzungsbedingungen akzeptieren!</li>
        <li>solltest du nach deiner Registrierung deine Anmeldedaten gut aufheben, nicht verlieren und
          nicht an andere weitergeben!</li>
      </ul>
      <p>
        <a href="anleitung.pdf"> Hier ist eine <b>Anleitung</b> für unseren virtuellen Jugendtreff</a>
        </p>
      <p><b>Wir haben am Fr&Sa jeweils von 18-22 Uhr geöffnet!</b></p>

      <p><button class="btn btn-primary"  [routerLink]="['/room/start']">Hier geht’s zu den Räumen</button></p>
      <br>
      <p>Dein BASEMENT-TEAM</p>
    </div>
  </div>
</div>